<div id="controls" class="flex">
	<div class="bubble inline">
		<div class="space">
			<button id="door"></button>
			<button id="leave">Leave</button>
			<button id="reset">Start Over</button>
			<button id="spy">Spy</button>
		</div>
		<div class="space">
			<span>Num Words: </span>
			<input id="num_words" class="control_number" type="number" autocomplete="off" value="4">
		</div>
		<div class="space">
			<span>Num Clues: </span>
			<input id="num_clues" class="control_number" type="number" autocomplete="off" value="3">
		</div>
	</div>
	<div class="bubble inline">
		<p>Current Player: <span id="current_player"></span></p>
	</div>
	<div class="bubble inline">
		<p>Clues:</p>
		<form id="clues"></form>
	</div>
</div>

<div class="flex">
	<div id="words" class="bubble inline_flex"></div>
	<div class="bubble inline">Notes: <br><textarea></textarea></div>
</div>
<br>
<div id="players" class="bubble"></div>
